body {
  background: black;
}

button {
  background: white;
  border: none;
  border-radius: 2px;
  margin: auto;
  padding: 15px;
  width: 100px;
}

header {
  height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.color-square {
  background: rgb(207, 242, 253);
  border: white 1px solid;
  border-radius: 10px;
  padding: 66px;
  margin: 1.66%;
}

.container {
  display: flex;
  justify-content: center;
  margin: 22px auto;
  max-width: 960px;
}
